.group{ 
position:relative; 
margin-bottom:45px; 
}
.flexit{ 
    width:600px; 
    justify-content: center;
    margin:30px auto 0; 
    display:flex; 
    background:#FFF;
    padding:40px 50px 50px;
    border-radius: 15px;
    border: 2px solid teal;
    }

.highlight{
position:absolute;
height:60%; 
width:100px; 
top:25%; 
left:0;
pointer-events:none;
opacity:0.5;
}
.bar{ 
position:relative;
display:block;
width:300px;
}
.bar:before, .bar:after{
content:'';
height:2px; 
width:0;
bottom:1px; 
position:absolute;
background:#5264AE; 
transition:0.2s ease all; 
-moz-transition:0.2s ease all; 
-webkit-transition:0.2s ease all;
}
.bar:before{
left:50%;
}
.bar:after{
right:50%; 
}


input:focus ~ .bar:before, input:focus ~ .bar:after {
width:50%;
}
input 				{
font-size:18px;
padding:10px 10px 10px 5px;
display:block;
width:300px;
border:none;
border-bottom:1px solid #757575;
}
input:focus 		{ outline:none; }


label 				 {
color:#999; 
font-size:18px;
font-weight:normal;
position:absolute;
pointer-events:none;
left:5px;
top:10px;
transition:0.2s ease all; 
-moz-transition:0.2s ease all; 
-webkit-transition:0.2s ease all;
}


input:focus ~ label, input:valid ~ label 		{
top:-20px;
font-size:14px;
color:#5264AE;
} */
/* Button */
.submit {
font-size: 20px;
font-weight: 200;
letter-spacing: 1px;
padding: 13px 50px 13px;
outline: 0;
border: 1px solid black;
cursor: pointer;
position: relative;
background-color: white;
}

/* .submit::after {
content: "";
background-color: #1d9346;
width: 100%;
z-index: -1;
position: absolute;
height: 100%;
top: 7px;
left: 7px;
transition: 0.2s;
} */

.submit:hover::after {
top: 0px;
left: 0px;
}

h3{
padding-bottom: 25px;
}