@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Itim&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Carter+One&family=Itim&display=swap");

.reg-list-item {
  list-style-type: none;
}

.reg-container {
  text-align: center;
  background-color: rgba(255, 228, 196, 0.788);
  border-radius: 20px;
  width: 40vw;
  margin: auto;
}

.reg-container h1 {
  font-family: "Bebas Neue", sans-serif;
  font-family: "Itim", cursive;
}

.reg-list-item {
  font-family: "Carter One", cursive;
  font-family: "Itim", cursive;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.reg-list-item input {
  width: 40%;
  text-align: center;
}
