@import url("https://fonts.googleapis.com/css2?family=Carter+One&family=Russo+One&display=swap");

.landing_pic {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  opacity: 0.3;
}

.landingPage-header {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.landingPage-header h1 {
  font-size: 80px;
}

.landingPage-header h4 {
  font-size: 25px;
  padding-top: 10px;
}

.landingContainer .btn-reg-enter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 22px 55px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  opacity: 0.6;
}

.landingPage-text {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  font-size: 16px;
  text-align: center;
  font-family: "Carter One", cursive;
  font-family: "Russo One", sans-serif;
}

.landingContainer .btn-reg-enter:hover {
  color: rgb(160, 177, 177);
  opacity: 0.9;
}

.btn-reg-enter {
  background-color: teal;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

/* media queries */
@media screen and (max-width: 768px) {
  .landingPage-header h1 {
    font-size: 50px;
  }

  .landingPage-header h4 {
    font-size: 20px;
  }

  .landingPage-text {
    top: 90%;
  }
}

@media screen and (max-width: 320px) {
  .landingPage-header h1 {
    font-size: 40px;
  }

  .landingPage-header h4 {
    font-size: 15px;
  }

  .landingPage-text {
    top: 120%;
  }
}
